build/
bin/
bin-int/
cmake-build-debug/
x64/
/Helios.sln

.cache/

.vs/
.idea/git branch -D master
.idea

Helios/Helios.vcxproj
Helios/Helios.vcxproj.filters
Helios/Helios.vcxproj.user
Helios/x64/

Editor/Editor.vcxproj
Editor/Editor.vcxproj.filters
Editor/Editor.vcxproj.user

Sandbox/Sandbox.vcxproj
Sandbox/Sandbox.vcxproj.filters
Sandbox/Sandbox.vcxproj.user

vendor/premake/Premake.vcxproj
vendor/premake/Premake.vcxproj.filters
vendor/premake/Premake.vcxproj.user

Helios/vendor/Glad/Glad.vcxproj
Helios/vendor/Glad/Glad.vcxproj.filters
Helios/vendor/Glad/Glad.vcxproj.user

Helios/vendor/Glad/bin-int/
Helios/vendor/Glad/bin/

Helios/vendor/ImGui/ImGui.vcxproj
Helios/vendor/ImGui/ImGui.vcxproj.filters
Helios/vendor/ImGui/ImGui.vcxproj.user

Helios/vendor/ImGui/bin-int/
Helios/vendor/ImGui/bin/

Editor/vendor/ImGuizmo/bin-int/
Editor/vendor/ImGuizmo/bin/

Helios/vendor/ImGuizmo/ImGuizmo.vcxproj
Helios/vendor/ImGuizmo/ImGuizmo.vcxproj.filters
Helios/vendor/ImGuizmo/ImGuizmo.vcxproj.user
