[submodule "Helios/vendor/sol2"]
	path = Helios/vendor/sol2
	url = git@gitlab.com:astroq/sol2.git
[submodule "Editor/vendor/ImGuizmo"]
	path = Editor/vendor/ImGuizmo
	url = git@gitlab.com:astroq/ImGuizmo.git
[submodule "Helios/vendor/ImGui"]
	path = Helios/vendor/ImGui
	url = git@gitlab.com:astroq/imgui.git
[submodule "Helios/vendor/glfw"]
	path = Helios/vendor/glfw
	url = git@gitlab.com:astroq/glfw.git
