[submodule "Helios/vendor/sol2"]
	path = Helios/vendor/sol2
	url = git@github.com:astroq91/sol2.git
[submodule "Editor/vendor/ImGuizmo"]
	path = Editor/vendor/ImGuizmo
	url = git@github.com:astroq91/ImGuizmo.git
[submodule "Helios/vendor/ImGui"]
	path = Helios/vendor/ImGui
	url = git@github.com:astroq91/imgui.git
[submodule "Helios/vendor/glfw"]
	path = Helios/vendor/glfw
	url = git@github.com:astroq91/glfw.git
[submodule "Helios/vendor/JoltPhysics"]
	path = Helios/vendor/JoltPhysics
	url = git@github.com:astroq91/JoltPhysics.git
