build/
bin/
bin-int/
cmake-build-debug/
x64/

**/CMakeFiles/
**/cmake_install.cmake
CMakeCache.txt
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
CPackConfig.cmake
CPackSourceConfig.cmake

**/*.sln
**/*.vcxproj
**/*.vcxproj.*

x64/

.cache/

.vs/
.idea/git branch -D master
.idea

**/*.spv
