Debug/
Helios.dir/

vendor/ImGui/Debug/
vendor/ImGui/ImGui.dir/
vendor/lua-5.4.6/Debug/
vendor/lua-5.4.6/ImGui.dir/
vendor/tinyfiledialogs/Debug/
vendor/tinyfiledialogs/TinyFiledialogs.dir/
vendor/vulkan/Debug/
vendor/vulkan/Volk.dir/
vendor/vulkan/Vulkan.dir/
vendor/yaml-cpp/Debug/
vendor/yaml-cpp/yaml-cpp.dir/